@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;

  background: #000000;
  color: #f5f5f5;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1.094rem);
  -webkit-backdrop-filter: blur(0.094rem);
  z-index: 4;
}
nav {
  padding: 0 2% 0 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #f5f5f5;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo {
  width: 11.25rem;
  height: 4.2rem;
}

.navCont {
  display: flex;
  align-items: center;
}
.p {
  margin-left: 3rem;
}

.p:nth-child(4) {
  margin-left: 6rem;
}
.product {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown {
  margin-left: 1rem;
}

.connect {
  width: 11.625rem;
  height: 3.4375rem;

  border-style: solid;
  border-width: 0.125rem;
  border-image: linear-gradient(#be444f, #d09678) 30%;
  /* border-radius: 1rem; */

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  background: linear-gradient(180deg, #be444f 0%, #d09678 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  transition: 0.5s ease-in-out;
}

.connect:hover {
  color: #f5f5f5;
  /* background: linear-gradient(180deg, #be444f 0%, #d09678 100%);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  */
  background: #be444f;
  -webkit-text-fill-color: #f5f5f5;
}
span {
  background: linear-gradient(180deg, #be444f 0%, #d09678 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 4rem;
}
.topCir {
  position: absolute;
  z-index: 1;
  width: 28.5rem;
  height: 26.875rem;
  left: -2.5rem;
  top: 50%;

  background: linear-gradient(90deg, #ea8164 0%, #fee1d9 100%);
  filter: blur(40.25rem);
}
.topContent,
.secContent,
.thirdContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
}

.topImg {
  width: 80%;
  height: 25rem;
  border-radius: 1.25rem;
  object-fit: cover;
}
.topH1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 0.03em;
  color: #fafafa;
}
.homeBack {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
  position: absolute;
  top: -2rem;
  left: 1rem;
  z-index: 3;
}
.second {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 4rem;
}

.secCir {
  position: absolute;
  right: 0;
  top: -10%;
  width: 28.5rem;
  height: 26.875rem;
  z-index: 1;
  background: linear-gradient(90deg, #d954e4 0%, #9285eb 97.4%);
  background-blend-mode: darken;
  filter: blur(40.25rem);
}
.secContent {
  align-items: flex-start;
  padding: 0 4% 0 4%;
  text-align: justify;
}
.secH1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 3.25rem;
  letter-spacing: 0.02em;
  color: #fafafa;
  margin-bottom: 2rem;
}
.secH6 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;

  color: #e0e0e0;
}

.third {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 4rem;
}

.thirdCir {
  position: absolute;
  left: -2.5rem;
  top: -10%;
  width: 28.5rem;
  height: 26.875rem;
  z-index: 1;
  background: linear-gradient(180deg, #007dfd 0%, #003b77 100%);
  background-blend-mode: darken;
  filter: blur(40.25rem);
}
.thirdH6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  color: #fafafa;
  margin-bottom: 5rem;
}
.ThirdVideos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  cursor: pointer;
}
.thirdImage {
  width: 49%;
  height: 25rem;
  object-fit: cover;
  border-radius: 20px;
}
footer {
  width: 100%;
  position: relative;
  z-index: 2;
  background: #0e0e0e;
  padding: 4%;
}
.footer2 {
  width: 100%;
  height: auto;
  z-index: 3;
  padding: 4%;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1.094rem);
  -webkit-backdrop-filter: blur(0.094rem);
  position: fixed;
  top: 5rem;
  left: 0;
  display: none;
  transition: 0.5s ease-in-out;
}

.footer2.show {
  display: block;
}
.footerFirst {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.leftFooter1 p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #bdbdbd;
  margin-top: 2rem;
}
.tel {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #bdbdbd;
  font-size: 1rem;
}
.phone {
  display: flex;
  flex-direction: column;
}
.telPhone {
  margin-right: 1rem;
}
ul {
  list-style: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 450;
  font-size: 0.9rem;
  color: #bdbdbd;
  margin-right: 2rem;
}
li {
  margin-bottom: 1rem;
}
.heads {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fafafa;
}

.rightFooter2 {
  display: flex;
}

.hr {
  margin: 0 2% 1rem 2%;
  width: 96%;
  height: 0.01rem;
  background-color: #757575;
}

.footerEnd {
  width: 100%;
  padding: 0 2% 0 2%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #bdbdbd;
  display: flex;
  justify-content: space-between;
}

.socialMedia {
  display: flex;
  column-gap: 1rem;
}

.menuBar,
.hamBurger {
  display: none;
}

@media screen and (max-width: 700px) {
  body {
    max-width: 100vw;
    /* overflow: hidden; */
    position: relative;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
  }
  .navCont {
    display: none;
  }
  .hamBurger {
    display: block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    display: block;
    width: 2.188rem;
    height: 0.313rem;
    margin: 0.375rem 0;
    background-color: rgb(254, 254, 254);
  }
  .bar2 {
    margin-left: 0.5rem;
  }
  .menuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: #0e0e0e;
    padding: 20% 5% 0 5%;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    color: #ffffff;
    transition: 0.5s ease-in-out;
  }
  .menuBar.show {
    left: 0;
  }
  .p,
  .p2 {
    margin-left: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  .menuBar .cross {
    width: 90%;
    justify-content: flex-end !important;
    cursor: pointer;
    transform: scale(1.1);
    margin-bottom: 4rem;
  }
  .menuBar .p2:last-child {
    justify-content: center;
  }
  .top,
  .second,
  .third,
  .footer2,
  footer {
    padding: 0 5% 0 5%;
    overflow: hidden;
  }
  .logo {
    width: 8rem;
  }
  .homeBack {
    font-size: 150%;
    top: 0;
  }
  .top {
    height: fit-content;
    padding: 10% 0;
    margin: 0;
  }
  .topH1 {
    font-weight: 800;
    font-size: 1.625rem;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 4rem;
  }
  .topImg {
    height: 13.7rem;
    object-fit: cover;
  }

  .second,
  .third {
    height: fit-content;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
  }
  .secH1 {
    font-weight: 800;
    font-size: 1.625rem;
    letter-spacing: 0.02em;
  }
  .secH6 br {
    display: none;
  }
  .secH6 {
    font-weight: 500;
    font-size: 0.8125rem;
    letter-spacing: 0.05em;
  }
  .thirdH6 {
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.02em;
  }
  .ThirdVideos {
    flex-direction: column;
  }
  .thirdImage {
    width: 100%;
    height: 13.7rem;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  .footerFirst {
    margin-top: 2rem;
  }
  .footerFirst,
  .footerEnd {
    flex-direction: column;
  }
  .leftFooter1,
  .rightFooter2 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .rightFooter2 {
    justify-content: space-between;
  }
  .footsAbouts {
    margin: 0;
    font-size: 0.7rem;
  }
  .heads {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .footerEnd {
    align-items: center;
  }
  .footerEnd p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
